h1 {
    text-align: center;
    color: orange;
    font-family: castellar;
}
img {
    width: 300px;
    height: 300px;
    
}
img:hover {
    box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}
#flex-container {
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
    padding: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-top: 5%;
}
#reset {
    background-color: green;
    position: relative;
    left: 50%;
    top: 100%;
    border: none;
}
#new-flex-container {
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
    padding: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    display: none;
    margin-top: 5%;

}
#score {
    font-family: algerian;
    position: relative;
    text-align: center;
    margin-top: 5%;
    font-size: 2rem;
}
#userscore, #botscore {
    color: orange;
}